%h1 ČESTA PITANJA
%h2 Moramo li rezervirati?
%p Ništa se u životu ne mora ako baš nećete, ali mi bismo vam rezervaciju svakako preporučili da ne biste šetali do Pantarula bezveze. Za večernje sate poželjno je rezervirati barem dan unaprijed. Javite nam se na +385 (0)20 333 486 ili na mail: pantarul@pantarul.com. 
%h2 Imate li dress code?
%p Nemamo. Opustite se i dođite u cipelama koje vas neće nažuljati.
%h2 Zašto su vam porcije tako male?
%p Porcije su rađene prema normativima koji podrazumijevaju da ćete pojesti dva slijeda i nakon toga biti siti. Mi bježimo od fast fooda. Želimo da sjedenete i uživate u miru i probate nešto ukusno i novo. I, ne. Ni to vas neće koštati cijelo bogatstvo jer ako pažljvo birate, i tri slijeda možete pojesti za ispod 100 kn, a pobrinete li se sami za dobro društvo, pritom uživati kao da ste dobili na lotu.
%h2 Jeste li vi ludi? Pa zašto ne radite ponedjeljkom?
%p Ne radimo ponedjeljkom zato što vjerujemo u fer poslovanje – i kuhari vole zaplivati. A budući da je Pantarul otvoren tijekom cijele godine, jedan slobodan dan u tjednu jamstvo je da će vam na stol stići hrana pripremljena bez nervoze i s maksimalno puno ljubavi i pažnje.
%h2 Zašto se zovete Pantarul, a ne Pantaruo?
%p Po svim pravilima glasovnih promjena (s kojima smo dobro upoznati) naziv bi trebao biti 'Pantaruo'. Istina. Međutim, jezik je živa materija koja se mijenja (puristi će reći da se iskrivljuje) i stoput smo u životu čuli: 'Dodaj mi taj pantarul!' pa smo dali sebi malo slobode. Zašto ne? A i u logotipu nam je bolje izgledalo tako.
%h2 Hoćete reći da je onaj podmetač cijeli jelovnik? Nema ništa više?
%p Nema! Volimo listati knjige (naročito kuharice, to ćete vidjeti na našoj polici u loungeu), ali jelovnike ne. Budući da se jelovnik mijenja sezonski, želimo fokus staviti na kvalitetu, a ne kvantitetu. Malo, ali dobro, to je naša deviza, ali svakako ćemo se pobrinuti da u tom našem izboru svatko za sebe može lako nešto pronaći.
%h2 Zašto ne dodate još stolova?
%p Jer mislimo da kao naši gosti zaslužujete malo privatnosti. Osim toga, gotovo se sva jela u našem jelovniku pripremaju à la minute i ne želimo kompromitirati njihovu kvalitetu na račun nekoliko stolova više.
%h2 Je li lounge dio kafić?
%p Nije. Lounge/tapas zona je opušteniji dio u kojem se može jesti jednako kao i u klasičnom restoranskom dijelu, ali tu možete sjesti i ako želite samo nešto sitno, na brzinu, možda jednu paštetu s kolegom poslije posla? Ili možete dovesti mamu na kolače.
%h2 Kako to da su vam vina tako jeftina?
%p Zato što želimo da mirne duše naručite cijelu bocu. Bolje da doma pođete veseli nego da po vas dolazi hitna kad ugledate račun.
%h2 Kakva je ono knjiga na vašem šanku?
%p To je naša restoranska kuharica. Napisana je na engleskom jeziku i ima 120 recepata i popratnih priča i fotografija – sve se onose na hranu koja se tradicionalno jede u Dubrovniku i okolici i idealan je poklon za one rođake iz Bolivije koji vas uvijek pitaju recept za rozatu – i uvijek izgube papirić na koji ga zapišu.

