%h1 FAQ
%h2 Do we really have to make a reservation?
%p You don't have to do anything you don't want to, but we'd strongly advise you to book a table in advance (espacially if you'd like to come for dinner). This way you can avoid taking a walk all the way to the restaurant and leaving hungry. Just give us a call (+385 20 333 486) or drop us a line by e-mail (pantarul@pantarul.com) and we'll have a table waiting for you.
%h2 Is there a dress code?
%p No. Relax and wear the shoes that won't give you sore feet.
%h2 What's this about a restaurant cookbook you have on offer?
%p That's our way of letting you take a piece of Dubrovnik home. Our restaurant cookbook features 120 typical Dubrovnik recipes, with detailed instructions and lots of photos. It has 320 pages and it isn't just a dull cookbook – every recipe has a story explaining the ingredients, traditions or origins of the dish. Let's get cooking. 
%h2 Why are you closed on Mondays when everyone else is working?
%p Because we believe in doing business the right way –chefs too like to go for a swim from time to time. Pantarul is open all year long and having one day off is a guarantee that the food that ends up on your plate is prepared without stress and with maximum love and care.
%h2 Why is your name 'Pantarul'? What does that mean?
%p In the Dubrovnik dialect 'pantarul' means 'fork'. A simple word very dear to our hearts.
%h2 I've heard that your servings are somewhat small, is that true?
%p No. Our servings are made so that you can have a two-course meal and feel full. We are not a fast food joint – we would like to give you the opportunity to make yourself at home and try something tasty and new. And, again, no. It won't cost you a fortune – if you choose wisely, you can even have a two-course meal at well under 100 kuna. And if you bring along some good company, you'll feel as if you'd won the lottery.
%h2 Is that coaster of yours the whole menu? That's it?
%p Yes. We love flipping through books (and even writing our own, as you'll see from the restaurant cookbook we've prepared for you), but not through menus. As our menu changes with the seasons, we want to place emphasis on quality rather than quantity. With about twenty dishes to choose from, we are certain that everyone will find something to their liking.
%h2 How come your wines are so cheap when compared to other retaurants in the area?
%p Because we want you to order a whole bottle without so much as batting an eyelash. And there are no unpleasant surprises when the bill arrives.
