%h1 Hladna predjela

%p Tatarski biftek <span class="price">80 kn</span>
%p Riblji tartar <span class="price">68 kn</span>
%p Terina od guščje jetre <span class="price">78 kn</span>
%p Proljetna salata od komorača <span class="price">45 kn</span>


%h1 Topla predjela

%p Dnevna juha <span class="price">25 kn</span>
%p Spring rolice <span class="price">35 kn</span>
%p Zapečena guščja jetra <span class="price">100 kn</span>
%p Piletina iz woka <span class="price">64 kn</span>
%p Crostini duo <span class="price">48 kn</span>

//%h1 Juhe

//%p Dnevne juhe po izboru <span class="price">25 kn</span>

%h1 Domaća tjestenina i rižoti

%p Proljetni rižoto <span class="price">58 kn</span>
%p Rižoto od kozica, vongola i hobotnice <span class="price">97 kn</span>
%p Fettuccini s junećim repom i kaduljom <span class="price">78 kn</span>
%p Njoki s hobotnicom u arrabbiata umaku <span class="price">62 kn</span>


%h1 Glavna jela

%h1 Mesna jela

%p Goveđi file <span class="price">135 kn</span>
%p Sporo pečena janjetina sa soparnikom <span class="price">126 kn</span>
%p Bikovi obrazi <span class="price">118 kn</span>
%p Teleća rebra u confitu <span class="price">95 kn</span>


%h1 Riblja jela

%p Dimljena skuša <span class="price">95 kn</span>
%p Bakalar sa salatom od leće i emulzijom od maslinovog ulja <span class="price">128 kn</span>
%p Brodet od grdobine <span class="price">110 kn</span>
%p Ulov dana s povrćem na dalmatinski <span class="price">120 kn</span>


%h1 RIBLJI TASTING MENU OD PET SLIJEDOVA<span class="price">340 kn</span>
%p  Riblji crostini – Spring rolice – Rižoto od vongola, hobotnice i kozica – Ulov dana – Dnevni desert

%h1 MESNI TASTING MENU OD PET SLIJEDOVA <span class="price">330 kn </span>
%p Tatar biftek – Proljetna salata od komorača – Zapečena guščja jetra  – Teleća rebra – Dnevni desert


%h1 Deserti

%p Čokoladna torta bez brašna <span class="price">32 kn</span>
%p Semifreddo od krokanata s karamelom <span class="price">30 kn</span>
%p Voćni tarte <span class="price">25 kn</span>
%p Dnevni izbor deserata <span class="price">25 kn</span>
%p Izbor domaćih i stranih sireva <span class="price">76 kn</span>






