%h1 Cold starters

%p Steak tartare <span class="price">80 kn</span>
%p Fish tartare  <span class="price">68 kn</span>
%p Foie gras <span class="price">78 kn</span>
%p Spring fennel salad <span class="price">45 kn</span>

%h1 Warm starters

%p Daily soup <span class="price">25 kn</span>
%p Spring rolls <span class="price">35 kn</span>
%p Pan-seared fioe grad <span class="price">100 kn</span>
%p Chicken stir-fry <span class="price">64 kn</span>
%p Crostini duo <span class="price">48 kn</span>

//%h1 Soups

//%p Selection of daily soups 25 kn


%h1 Homemade pasta and risottos

%p Spring risotto <span class="price">58 kn</span>
%p Clam, octopus and prawn risotto <span class="price">97 kn</span>
%p Oxtail and sage fettuccini <span class="price">78 kn</span>
%p Gnocchi with octopus in arrabbiata sauce <span class="price">62 kn</span>


%h1 Main dishes

%h1 Meat mains

%p Beef fillet <span class="price">140 kn</span>
%p Slow braised lamb with soparnik <span class="price">126 kn</span>
%p Ox cheeks <span class="price">118 kn</span>
%p Veal rib confit <span class="price">95 kn</span>



%h1 Fish mains

%p Smoked mackerel <span class="price">95 kn</span>
%p Cod with lentil salad and olive oil emulsion <span class="price">128 kn</span>
%p Monkfish in traditional tomato sauce <span class="price">110 kn</span>
%p Catch of the day with Dalmatian-style vegetables <span class="price">120 kn</span>


%h1 FIVE-COURSE FISH TASTING MENU <span class="price">340 kn</span>
%p Fish crostini – Spring rolls – Clam, octopus and prawn risotto – Catch of the day – Daily dessert


%h1 FIVE-COURSE MEAT TASTING MENU <span class="price">330 kn</span>
%p Steak tartare – Spring fennel salad – Pan seared foie gras – Veal ribs – Daily dessert


%h1 Desserts

%p Flourless chocolate cake <span class="price">32 kn</span>
%p Almond brittle and caramel semifreddo <span class="price">30 kn</span>
%p Fruit tarte <span class="price">25 kn</span>
%p Daily selection of desserts <span class="price">25 kn</span>
%p Cheese platter - a selection of Croatian and imported cheeses <span class="price">76 kn</span>

