= image_tag 'home.jpg', class: :home
#aboutus.section
  .container
    =image_tag 'knives.png', id: 'knives', class: 'side-image'
    =image_tag 'pan.png', id: 'pan', class: 'side-image'
    .left-text
      =image_tag 'chef.jpg', class: 'right-image down-image'
    .right-text
      %a{name: 'about', class: 'anchor' }
      = image_tag "about_us_heading.#{I18n.locale}.png"
      %p= t(:about_us_p1).html_safe
      %p= t(:about_us_p2).html_safe

#gallery.section
  .container
    .left-text
      %ul.gallery-pager
        - 1.upto(13).each do |i|
          %li
            =image_tag "gallery/g#{i}.jpg"
    .right-text
      %h1
        = image_tag "gallery_heading.#{I18n.locale}.png"
      %ul.gallery
        - 1.upto(13).each do |i|
          %li
            =image_tag "gallery/g#{i}.jpg"
      .gallery-arrows
        %a{href: 'javascript:void(null)', class: 'left-arrow'}= image_tag('arrow-left.png')
        %a{href: 'javascript:void(null)', class: 'right-arrow'}= image_tag('arrow-right.png')
          
#food-section.section
  .container
    =image_tag 'food_side.png', id: 'food-side', class: 'side-image'
    .left-text
      =image_tag 'food.jpg', class: 'right-image down-image'
    .right-text
      %a{name: 'food', class: 'anchor'}
      .heading
        = image_tag "food_heading.#{I18n.locale}.png"

      = render 'menu'

#contact-section.section
  .container
    =image_tag 'contact_side.png', id: 'contact-side', class: 'side-image'
    .left-text
      %a{name: 'contact', class: 'anchor'}
      .heading.mobile-heading
        =image_tag "contact_heading.#{I18n.locale}.png"
      .maps-iframe-target
    .right-text
      .desktop-heading
        =image_tag "contact_heading.#{I18n.locale}.png"
      %p Kralja Tomislava 1
      %p Dubrovnik, Croatia
      %p +385 20 333 486
      %p= t(:radno_vrijeme) 
      %p pantarul@pantarul.com
      %p &nbsp;
      %p= t(:call_us)

      .tripadvisor
        #TA_linkingWidgetWAR659.TA_linkingWidgetWAR
          %ul#Ug4jNKEV.TA_links.Ou7zA4bvVnTJ
            %li#fMk2lsdE.ptA1Ix
              %a{:href => "http://www.tripadvisor.com/", :target => "_blank"}
                %img{:alt => "TripAdvisor", :src => "http://www.tripadvisor.com/img/cdsi/partner/tripadvisor_logo_115x18-15078-2.gif"}/

      .icons
        %a{href: 'https://www.facebook.com/pantarul', target: '_blank'}= image_tag('social_facebook.png')
        %a{href: 'https://twitter.com/Pantarul', target: '_blank'}= image_tag('social_twitter.png')
        %a{href: 'http://instagram.com/pantarul#', target: '_blank'}= image_tag('social_instagram.png')
      =image_tag "follow_us_heading.#{I18n.locale}.png", class: 'followus'


#newsletter-section.section
  .container
    =image_tag 'newsletter_side.png', id: 'newsletter-side', class: 'side-image'
  .left-text
    =image_tag 'newsletter.jpg', class: 'right-image'
  .right-text
    %a{name: 'newsletter', class: 'anchor'}
    %p= t(:newsletter_text).html_safe 
    %p
      %br
      #mc_embed_signup
        %form#mc-embedded-subscribe-form.validate{action: "//pantarul.us8.list-manage.com/subscribe/post?u=3d566e62deeb2051ebf25ec29&id=c4682c3ec4", method: "post", name: "mc-embedded-subscribe-form", novalidate: "", target: "_blank"}
          %input#mce-EMAIL.email{name: "EMAIL", placeholder: "#{t :email_address}", required: "", type: "email", value: ""}/
          %br
          %br
          %input#mc-embedded-subscribe.button{name: "subscribe", type: "submit", value: "Subscribe"}/
          / real people should not fill this in and expect good things - do not remove this or risk form bot signups
          %div{style: "position: absolute; left: -5000px;"}
            %input{name: "b_3d566e62deeb2051ebf25ec29_c4682c3ec4", tabindex: "-1", type: "text", value: ""}/
.big-gallery-wrap{style: 'display:none'}
  %ul.big-gallery
    - 1.upto(13).each do |i|
      %li
        =image_tag "gallery/g#{i}.jpg"
  .big-gallery-arrows
    %a{href: 'javascript:void(null)', class: 'left-arrow'}= image_tag('arrow-left.png')
    %a{href: 'javascript:void(null)', class: 'right-arrow'}= image_tag('arrow-right.png')


#book-section.section
  .container
    =image_tag 'book_side.png', id: 'book-side', class: 'side-image'
  .left-text
    %a{name: 'thebook', class: 'anchor'}
    =image_tag 'books.png', class: 'right-image'
  .right-text
    %p= t(:book_p1).html_safe 
    %p= t(:book_p2).html_safe
    %p= t(:book_p3).html_safe
    %p= t(:book_p4).html_safe
    %p= "Dubrovnik"
    %ul
      %li Restoran Pantarul, Kralja Tomislava 1
      %li Knjižara Algebra, Stradun
      %li Algoritam Bookshop, Stradun
      %li Terra Croatica, Ulica od Puča 17
      %li Tisak Media, Pile
      %li APM, Robna kuća Minčeta
      %li Školska knjiga, Poljana Paska Miličevića
      %li Hotel Excelsior
      %li Hotel Lacroma
    %p= "Zagreb"
    %ul
      %li Algoritam, Gajeva
      %li Algoritam, Avenue Mall
      %li Profil Megastore, Bogovićeva
      %li Vivat fina vina, Frana Folnegovića 1b

/
  %a{name: 'blog'}
  #blog-section.section
    .container
      =image_tag 'blog_side.png', id: 'blog-side', class: 'side-image'
    .left-text
      =image_tag 'blog.png', class: 'right-image'
    .right-text
      =image_tag "blog_heading.#{I18n.locale}.png"
      %ul
        %li
          %a{href: '#blog'} Prvi
          %p 21.01.2013.
        %li
          %a{href: '#blog'} Drugi
          %p 21.01.2013.




#faq-section.section
  .container
    %a{name: 'faq', class: 'anchor'}
    =render 'faq'



%script{:src => "http://www.jscache.com/wejs?wtype=linkingWidgetWAR&uniq=659&locationId=6673359&lang=en_US&border=true&langversion=2"}
