body
  background-color: black
  color: #f1f1f1
  font-family: 'Arial Narrow', Arial, sans-serif
  line-height:  1.5

.desktop-menu
  display: block
.mobile-menu
  display: none


.header
  position: relative
  z-index: 1001

.header .logo
  display: inline-block
  width: 25%
  text-align: center
  vertical-align: bottom
  position: relative
  img
    margin-top: 60px

.lang
  z-index: 1005
  top: 5px
  text-align: right
  position: fixed


.bar
  position: fixed
  background-color: rgba(0,0,0,0.7)
  width: 100%
  height: 165px
  z-index: 1000

.fixed
  position: fixed
  width:  100%
  z-index: 1005
.after-fixed
  padding-top: 334px
nav 
  float: right
  padding-top: 220px
  display: inline-block
  text-transform: uppercase
  width: 73%
  ul
    text-align: right
    list-style-type: none
    li
      display: inline-block
      line-height: 75px
      color: #ccc
      margin-right: 40px
    li:last-child 
      margin-right: 0px
    a
      color: #ccc
      text-decoration: none
    a:hover
      text-decoration: underline
      color: #ccc


img.home
  width: 100%

.section:after
  content: ""
  display: table
  clear: both

.section
  padding-top: 160px
  padding-bottom: 100px

img.right-image
  float: right
  margin-right: 40px
  margin-top: 0px

img.down-image
  margin-top: 45px

img.side-image
  position: absolute
  right: 0
  z-index: -2

.right-text
  float: right
  width: 50%
  padding-right: 100px

.left-text
  float: left
  width: 50%
  line-height: 2

input[type=email]
  padding: 10px 10px
  color: #333
  display: inline-block
  width: 300px

input.button
  padding: 10px 20px
  background-color: #f1f1f1
  color: #000
  text-transform: uppercase
  border: 0
  display: inline-block


input.button:hover
  text-decoration: none
  color: #000
  background-color: #bbb

#aboutus
  color: #95efe4
  img#pan
    margin-top: -250px
  img#knives
    margin-top: 250px

#food-section
  color: #ed7473
  h1
    font-size: 20px
    margin: 36px 0 18px 0
    line-height: 1.5
  p
    font-size: 16px
    line-height: 1.5
  img#food-side
    margin-top: -150px
  span.price
    white-space: nowrap
    margin-left: 20px

#contact-section
  iframe
    width: 100%
    margin-top: 45px
  .right-text
    padding-left: 80px
  .tripadvisor
    margin-top: 50px
  .icons
    margin-top: 50px
    a
      margin-right: 10px
  .followus
    margin-left: 70px 
  img#contact-side
    margin-top: 100px

#book-section
  .right-text
    padding-right: 200px
    ul
      list-style-type: disc
      margin-bottom: 20px
      padding-left: 48px

#newsletter-section

#blog
  .left-text
    width: 66%
  .right-text
    width: 33%
  ul
    li
      margin-bottom: 20px
    p
      line-height: 1
      font-size: 12px

body
  font-size: 12px
  nav ul li
    margin-right: 5px


ul.gallery-pager
  padding: 0 20px 0 0
  margin-top: 50px
  li
    padding: 12px
    width: 60px
    height: 60px
    display: inline-block
    overflow: hidden
    text-align: center
    img
      cursor: pointer
      width: 100%
      height: 100%
    

ul.gallery
  overflow: hidden
  position: relative
  height: 300px
  li
    display: none
    width: 100%
    position: absolute
    text-align: center
    cursor: pointer
    z-index: 1000
    img
      max-height: 300px
      &:hover
        cursor: pointer
  li:first-child
    display: block


ul.big-gallery
  overflow: hidden
  height: 600px
  width: 800px
  position: relative
  li
    width: 100%
    display: none
    position: absolute
    text-align: center
    img
      height: 600px
      &:hover
        cursor: pointer
  li:first-child
    display: block

.centered
  text-align: center


.gallery-arrows, .big-gallery-arrows
  width: auto
  margin: 0 auto
  position: relative
  height: 57px
  .left-arrow
    display: none
  .right-arrow
    position: absolute
    right: 0

p
  margin-bottom: 16px

#food-section
  p
    margin-bottom: 0

#simplemodal-overlay 
  background-color: #000
  z-index: 1100

#simplemodal-container 
  background-color: #000
  border: 0 
  padding: 0px

#simplemodal-container a.modalCloseImg 
  background: image-url('x.png') no-repeat
  width: 25px
  height: 29px
  display: inline
  z-index: 3200
  position: absolute
  top: -15px
  right: -18px
  cursor: pointer
  
.mobile-heading
  display: none
.desktop-heading
  display: block

.anchor
  position: absolute
  margin-top: -200px
  

#faq-section
  h2
    margin-bottom: 1em
    color: #95efe4 

@media(min-width:620px)
  body
    font-size: 14px 
    nav ul li
      margin-right: 10px


@media(min-width:768px)
  body
    font-size: 15px 
    nav ul li
      margin-right: 20px

@media(min-width:1000px)
  body
    font-size: 17px 
    nav ul li
      margin-right: 30px

@media(min-width:1200px)
  body
    font-size: 18.75px 
    nav ul li
      margin-right: 40px


@media(max-width: 767px)
  .lang
    text-align: left
    position: relative
    a
      display: inline-block
  .section
    width: 100%
    overflow-x: hidden
    padding-top: 64px
  body
    overflow-x: hidden
    font-size: 16px
  .menu
    float: right
    margin-top: 10px
    height: 40px
    width: 40px
    background: transparent image-url('menu.png') no-repeat left top
  .menu.open
    background-position: left -40px
  .left-text,
  .right-text
    float: none
    display: block
    width: 100%
    padding: 0 15px
    .right-image
      width: 100%
      float: none
      margin-bottom: 15px
  #contact-section
    .right-text
      padding-left: 15px
  #book-section
    .right-text
      padding-right: 15px
  .desktop-menu
    display: none
  .mobile-menu
    display: block
  .after-fixed
    padding-top: 64px
  .mobile-menu
    .menu
    background-color: rgba(0, 0, 0, 0.85)
    .mobile-logo-image
      height: 44px
      margin: 10px 0
    .mobile-feels-like-home-image
      height: 44px
      margin: 10px 0
    nav
      margin: 0 -15px
      padding-top: 0
      display: none
      float: none
      width: auto
      ul
        li
          width: 100%
          display: block
          text-align: left
          padding: 0 15px
          line-height: 50px
          border-bottom: 1px solid #fff
          a
            display: block
        li:nth-child(1)
          border-bottom: 1px solid #9af5ea
        li:nth-child(2)
          border-bottom: 1px solid #e23336
        li:nth-child(3)
          border-bottom: 1px solid #f57775
        li:nth-child(4)
          border-bottom: 1px solid #cdbeac
        li:nth-child(5)
          border-bottom: 1px solid #59b7a1
  #gallery
    .left-text
      display: none
    .right-text
      ul.gallery
        height: 400px
        img
          height: auto
          max-height: 400px
  #contact-section
    iframe
      width: 100%
      max-height: 300px
  .mobile-heading
    display: block
  .desktop-heading
    display: none
  img.side-image
    position: relative
  #aboutus
    img#knives
      margin-top: 0
      margin-bottom: 20px
      width: 33%
    img#pan
      width: 33%
      float: right
      margin-top: -70px
  #food-section
    img#food-side
      float: right
      width: 33%
  #contact-section 
    img#contact-side
      width: 50%
      margin-top: -120px
  #book-section
    img#book-side
      width: 33%
      margin-top: -100px
      position: relative
      left: 66%
  #newsletter-section
    img#newsletter-side
      width: 50%
      margin-top: -100px


  .anchor
    position: absolute
    margin-top: -70px
