!!!
%html
  %head
    %title= Pantarul
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' }
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application', 'data-turbolinks-track' => true 
    = csrf_meta_tags
  %body
    .fixed
      .container.mobile-menu
        %a{href: '/', class: 'logo'}
          = image_tag 'mobile-logo.png', class: 'mobile-logo-image'

        %a{href: 'javascript:void(null)', class: 'menu'}
        %nav
          %ul
            %li
              .lang
                -if I18n.locale == :en
                  %a{href: '/?locale=hr'}
                    =image_tag 'hrv.png'
                -else
                  %a{href: '/?locale=en'}
                    =image_tag 'eng.png' 
            %li
              %a{href: '#about'}= t(:about_us)
            %li
              %a{href: '#gallery'}= t(:gallery)
            %li
              %a{href: '#food'}= t(:food)
            %li
              %a{href: '#contact'}= t(:contact)
            %li
              %a{href: '#thebook'}= t(:the_book)
            /
              %li
                %a{href: '#blog'}= t(:blog)
              %li
                %a{href: '#newsletter'}= t(:newsletter)
            %li
              %a{href: '#faq'}= t(:faq)
      .bar.desktop-menu
        &nbsp;
      .container.desktop-menu
        .row
          %div{style: 'float:right;width: 160px'}
            .lang
              %a{href: '/?locale=hr'}
                =image_tag 'hrv.png'
              =image_tag 'slash.png', class: 'slash'
              %a{href: '/?locale=en'}
                =image_tag 'eng.png'
          .header
            %a{href: '/', class: 'logo'}
              = image_tag 'logo.png', class: 'logo-image'
            %nav
              %ul
                %li
                  %a{href: '#about'}= t(:about_us)
                %li
                  %a{href: '#gallery'}= t(:gallery)
                %li
                  %a{href: '#food'}= t(:food)
                %li
                  %a{href: '#contact'}= t(:contact)
                %li
                  %a{href: '#thebook'}= t(:the_book)
                /
                  %li
                    %a{href: '#blog'}= t(:blog)
                  %li
                    %a{href: '#newsletter'}= t(:newsletter)
                %li
                  %a{href: '#faq'}= t(:faq)

    .after-fixed
      =yield

